.Logs
{   padding-left: 5%;
    position:relative;
    width:80%;
    background-color:white;
    text-align: center;


}
.LogsText
{
    font-family :'Comic Sans MS';
    opacity: 65%;
    position: relative;
    overflow-y: auto;
    transform: rotate(180deg);

}
#Logs
{   height: 100%;
    background: #f5f5f5;

}
#Activitylog{
    height: 350px;
}
.AdminConsole
{
    position:relative;
    width: 80%;
    padding-left: 5%;
    top:40px;

}
