<!DOCTYPE html>
<html lang=ro>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=yes"
    />
    <title>Documentatie</title>
    <link rel="stylesheet" href="Scholarly.css" />
    <a href="../home.php">Back</a>
  </head>

  <body>
    <header>
      <h1>Math Equation Web Explorer</h1>
      <dl>
        <dt>Autori</dt>
        <dd>Alexandru Craciun</dd>
        <dd>Mihai Maxim</dd>
        <!-- <dt>Robert Sucurei</dt> -->
      </dl>
    </header>
    <section>
      <h2>1. Introducere</h2>
      <p>
        Acest sit a fost conceput cu scopul de a creea si sustine o comunitate
        diversa si numeroasa de pasionati/curiosi aflati in dificultate.<br />Membrii,
        atat anonimi cat si inregistrati ai sitului, pot apela la ajutorul
        comunitatii si a uneltelor de expunere si distribuire a ecuatiilor
        matematice.<br />La dispozitie le stau si functiile de comunicare ale
        sitului, avand la dispozitie un chat public si unul privat in functie de
        nevoile lor de comunicare.
      </p>
    </section>
    <section>
      <h2>2. Modul de prezentare</h2>
      <p>
        Situl nostru faciliteaza navigarea intre componentele acestuia utilizand
        o fereastra de navigare in interiorul site-ului, comutand printre acestea
        cu usurinta si eleganta. In acest mod, utilizatorul, fie el inregistrat sau anonim,
        are parte de o experienta placuta in navigarea pe sit.<br>Totodata, utilizatorul
        are posibilitatea de a deschide orice thread de exercitii sau discutie intr-o 
        fereastra separata.
      </p>
    </section>
    <section>
      <h2>3. Componente</h2>
        <h3>3.1. Bara de navigatie orizontala</h3>
        Bara de navigatie are rolul de a facilita navigarea intre categoriile de thread-uri disponibile
        si functiile de cautare, logare si inregistrare.<br>
        <h4>3.1.1. Login</h4>
        Aici utilizatorul inregistrat realizeaza autentificarea.
        <img alt="Girl in a jacket" src="scholarlyImages/login.jpg" width="600" height="321">
        <h4>3.1.2. Register</h4>
        Aici utilizatorul anonim se poate inregistra pe sit.
        <img alt="Girl in a jacket" src="scholarlyImages/register.jpg" width="600" height="321">
        <h4>3.1.3. Search</h4>
        Bara de cautare are rolul de ajuta utilizatorul sa gaseasca mai repede un thread pe un subiect 
        anume. Aceasta faciliteaza mult navigarea usoara pe sit.<br>
        <img alt="Girl in a jacket" src="scholarlyImages/search.jpg" width="439" height="77">
        <h3>3.1. Pagina Home</h3>
        Pagina "Home" prezinta o scurta descriere a fiecarei componente si o legatura
        rapida catre aceasta pagina. Pagina "Home" nu are alt rol decat de a introduce
        utilizatorului uneltele sitului.
        <img alt="Girl in a jacket" src="scholarlyImages/home.jpg" width="600" height="321">
        <h3>3.2. Pagina Threads</h3>
        Pagina "Threads" ocupa locul unui forum de discutii intre utilizatorii logati
        si anonimi deopotriva. Aici pot fi postate intrebari de orice natura in cadrul 
        categoriilor prezentate. Fiecare thread poate fi deschis separat intr-un tab/
        fereastra noua.<br>Threadurile sunt compuse din: <br>
        <ul>
          <li>Titlu</li>
          <li>Continut</li>
          <li>Raspunsuri</li>
          <li>O fotografie</li>
        </ul>
        Administratorii si utilizatori pot edita raspunurile dintr-un anumit thread. Administrartorii au 
        posbilitatea si de a sterge acel raspuns.<br> Administratorii mai au si posibilitatea de a sterge
        thread-uri intregi.
        <img alt="Girl in a jacket" src="scholarlyImages/threads.jpg" width="600" height="321">
        <h3>3.3. Pagina Exercises</h3>
        Pagina "Exercises" indexeaza toate thread-urile cu exercitii de pe sit. Acestea sunt puse intr-un 
        tabel care le organizeaza in functie de criteriile impuse de utilizator.<br>
        Fie ca acesta sa doreasca, el poate creea un nou thread sau sa acceseze un thread deja creat. De asemenea, 
        acesta are posibilitatea de a exporta tablea in format CSV sau de a importa un fisier CSV care sa-i deserveasca 
        drept continut pentru creearea unui nou thread.<br>
        Administratorul, mai mult, poate sterge thread-uri.<br>
        Utilizatori anonimi pot viziona tabela, dar nu pot posta threaduri sau raspunde altora.<br>
        Thread-urile cu exercitii au aceeasi componenta ca si cele obisnuite.
        <img alt="Girl in a jacket" src="scholarlyImages/exercises.jpg" width="600" height="321">
        <h3>3.4. Live Chat</h3>
        Chat-ul, ca si paginile pentru thread-uri, este o componenta centrala a sitului. Aici utilizatorii 
        au posibilitatea de a comunica pe un canal public, disponibil tuturor sau de a comunica personal
        prin mesaje private.<br>
        Fiecare mesaj include ora trimiterii si username-ul fiecarui utilizator care participa la conversatie.
        <img alt="Girl in a jacket" src="scholarlyImages/chat.jpg" width="600" height="321">
        <h3>3.5. Pagina Start a new thread</h3>
        Aceasta are rolul de a creea un nou thread. Formularul pentru creeare contine :
        <ul>
          <li>Categorie</li>
          <li>Titlu</li>
          <li>Continut</li>
          <li>Fisier atasat</li>
          <li>Posteaza ca anonim</li>
        </ul>
        <img alt="Girl in a jacket" src="scholarlyImages/start_thread.jpg" width="431" height="291">
        <h3>3.6. Pagina Browse Threads</h3>
        Afiseaza lista de thread-uri intr-o pagina noua, separata de restul continutului paginii.<br>
        Cu ajutorul ei, utilizatorul se poate concentra exclusiv pe colectia de thread-uri de pe sit.
        <h3>3.7. Activity log</h3>
        Afiseaza toata activitatea de pe sit intr-o casuta incadrata pentru ca utilizatorii sa rasfoiasca 
        evenimentele petrecute pe sit.<br>
        <img alt="Girl in a jacket" src="scholarlyImages/activity.jpg" width="295" height="533">
        <h3>3.8. CodeCogs Equation Editor</h3>
        Unealta de editare a ecuatiilor de la CodeCogs este o unealta fratuita care permite utilizatorilor 
        sa scrie ecuatii sau formule matematice si sa le exporte in format SVG, ca apoi sa fie incarcate
        pe sit intr-un thread.<br>
        <img alt="Girl in a jacket" src="scholarlyImages/codecogs.jpg" width="600" height="321">
        <h3>3.9. Admin Console</h3>
        O unealta destinata administratorilor pentru gestionarea utilizatorilor. Acestia pot:
        <ul>
          <li>Sa blocheze/deblocheze utilizatori</li>
          <li>Sa adauge alti utilizatori ca admini</li>
          <li>Sa stearga mesajele unui utilizator de pe chat-ul public</li>
        </ul>
        <img alt="Girl in a jacket" src="scholarlyImages/admin.jpg" width="295" height="500">
    </section>
    <section>
      <h2>Concluzii</h2>
      In incheiere, aceasta aplicatie deserveste o nevoie majora a elevilor si studentilor, cat si a profesorilor 
      deopotriva, de a avea un mod centralizat si eficient de a face schimb de informatii si opinii legate de 
      disciplina Matematica in toate formele ei si la toate nivelele de dificultate.
    </section>
    <section>
      <h2>Referinte si bibliografie</h2>
      https://www.codecogs.com/latex/about.php<br>
      https://www.w3schools.com/html/default.asp<br>
      https://www.w3schools.com/css/default.asp<br>
      https://www.w3schools.com/js/default.asp<br>
      https://www.w3schools.com/php/default.asp
    </section>
  </body>
</html>
