*{
	padding : 0;
	margin : 0;
	border : 0;
}
body
{
	background-color: #f5f5f5;
}
ul li{
	display:inline;
	margin-right:10px;
	font-size:20px;
	position:sticky;
}
ul
{
	margin:0px;
	padding:45px;

}
ul li:nth-of-type(4) {
	margin-left: -10px;

}
.blended_grid{
	display : inline-block;
	width : 820px;
	overflow : auto;
	margin-bottom: 100px;
	margin-left:10px;
}
.Reply{
	clear : none;
	float : left;

	width:500px;
	padding-top:10px;

}


.Left{

	clear : none;
	float : left;
	position : relative;

	margin-right:15px;
	margin-left: 10px;
}
.Top1{

	border-radius: 10%;
	padding-left:10px;
	border:2px solid;
	clear : none;
	float : left;
	position : relative;
	width : 200px;
	min-height:100px;


}
.Top2{
	padding-top: 25px;
	clear : none;
	float : left;
	position : relative;
	width : 300px;
	height : 80px;
	text-align:left;
	padding-bottom: 2px;

	border-radius:0px;
}
.Mid{

	clear : none;
	float : left;
	position : relative;
	width : 600px;

	margin-bottom:10px;

}
img {

	max-width: 150px;
	max-height: 200px;

}
.RegularButton  {
	border: none;
	border:1px black solid;
	color: black;
	border-radius: 5px;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	opacity:1;
}




.blended_grid2{
	padding-left:115px;
	display : block;
	width : 700px;
	overflow : auto;
	margin : 0 auto;
}
.ReplyTop{

	float : left;
	clear : none;
	width : 420px;
	position:relative;
	margin-bottom:10px;


}
.ReplyRight1{
	border:1px solid;
	float : left;
	clear : none;
    overflow-x:auto;
	width : 200px;
	border-radius: 20px;
	text-align:center;

}
.ReplyRight2{

	float : left;
	clear : none;
	padding-left:10px;
}
#AdminConsole
{

}
#ReplyForm
{
	background-color: #f5f5f5;
}
#Styled {

	height: 150px;
}
.Text
{
	padding:5px;
	font-size:20px;

}
.Text2
{
	padding:10px;
	font-size:20px;
	max-height: 220px;
}
.ReplyText
{
	margin: 0px;
	width: 400px;
	resize: none;
	border:1.5px solid black;
	background-color: #f5f5f5;
	border-radius:20px;"
position:relative;

}
.TitleText
{  text-align: center;
	left: -2px;
	width:210px;
	height:100px;
	position: absolute;
	overflow-x: auto;
	border-radius: 10%;
	font-size:100%;
	padding-top: 10px;
	font-weight: bold;
}
.Button{
	margin-right:2px;
	position: relative;
	border: none;
	border-radius: 5px;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	cursor: pointer;
	opacity:1;
	color:white;

}
